body {
    margin: 0;
    font-family: "Tahoma", sans-serif;
    background-color: #404040;
    display: grid;
    place-items: center;
}

main {
    display: grid;
    place-items: center;
    gap: 40px;
    padding: 50px;
    background-color: white;
    border: 2px solid black;
}

main.lobby {
    width: 500px;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    place-items: center;
    gap: 15px;
    place-items: center;
}

hr {
    width: 100%;
}

#final {
    width: 1000px;
    display: none;
}

.notVisible {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0ms 800ms, opacity 800ms 0ms;
}

.visible {
    height: auto; opacity: 1;
    transition: height 0ms 0ms, opacity 800ms 0ms;
}

/* global */
a,
h1,
h2,
h3,
h4 {
    text-decoration: none;
    user-select: none;
    margin: 0;
}

#canvas {
    background-color: #30c0df;
    border: 2px solid black;
    display: block;
    margin: auto;
    cursor: pointer;
}

.connection {
    position: relative;
    display: block;
    width: 256px;
    text-align: left;
}

.connection div {
    display: inline-block;
}

.connection button {
    display: none;
}

.connection.connected button {
    display: inline-block;
    width: 180px;
}

.instructions {
    opacity: 0;
    width: 256px;
}

.instructions.visible {
    opacity: 1;
    transition: opacity 1s;
}

.game_container {
    display: flex;
}

.tax_input_container {
    display: none;
    width: 57px;
    height: 700px;
    background-color: white;
    border: 2px solid white;
    margin-top: 2px;
    flex-flow: row wrap;
    padding-top: 126px;
    justify-content: flex-start;
    align-content: flex-start;
}

.tax_input_container input {
    writing-mode: vertical-lr;
    direction: rtl;
    margin: 0;
    height: 444px;
    width: 20px;
}

.tax_input_container datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 450px;
    margin-top: -3px;
}
  
.tax_input_container datalist option {
    padding: 0;
    line-height: 21.4px;
    cursor: pointer;
}

.tax_input_container label {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
